{% extends 'main/base.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container-fluid"  id="container-index">
    <div class="row">
        <h1>Increments retributius 2018</h1>
        <a href="http://www.sindicat.net/w/fullinf/full360.pdf"><img src="http://www.sindicat.net/w/fullinf/full360.gif"  style="float:right; padding-right:40%" class="visible-lg"/></a>
        <p><a href="http://sindicat.net/retribucions/pressupostos_18.php">Comunicat informatiu</a></p>
        <p>Cliqueu <a href="http://sindicat.net/espacioseguro/z/nomina/consultaNomina.php">aquí</a> per veure el procediment per arribar a la nòmina.</p>
        <div  class="col-sm-4 col-12">
            <form>
              <div class="form-group" >
                <label for="salary">Nòmina juliol de 2018:  total brut, sense tenir en compte el sou en espècie</label>
                <input type="number" class="form-control" id="salary" aria-describedby="salaryHelp" placeholder="Introdueix la nòmina de juliol" step=".01">
                <small id="salaryHelp" class="form-text text-muted">Separa unitats i decimals amb una coma.</small>
               </div>
            </form>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Octubre (*)</th>
                        <td id="incOct" class="text-right"></td>
                    </tr>
                    <tr>
                        <th scope="row">Novembre (**)</th>
                        <td id="incNov" class="text-right"></td>
                    </tr>
                    <tr>
                        <th scope="row">Desembre</th>
                        <td id="incDec" class="text-right"></td>
                    </tr>
                    <tr>
                        <th scope="row">Mensual a partir de gener</th>
                        <td id="incJan" class="text-right"></td>
                    </tr>
                </tbody>
            </table>       
        </div>
  </div>
  <p>El resultat que obtindreu serà la diferència entre la nòmina (en brut) del mes de juliol i la dels mesos calculats.</p>
  <p>Totes les quantitats són en brut, és a dir, se'ls ha de restar les diferents retencions per obtenir el sou net.</p>
  <p>Les quantitats haurien d'ajustar-s'hi força excepte si:
  <ul>
    <li>S'ha cobrat durant el 2018 un nou trienni, estadi...</li>
    <li>S'ha variat el càrrec respecte al curs passat.</li>
  </ul>  
  <p><strong>(*)</strong> Cal tenir en compte que la gran majoria dels càrrecs del nou curs es cobren a l’octubre amb efectes retroactius del setembre. 
  Aquest doble cobrament del càrrec del nou curs NO ESTÀ CONTEMPLAT EN AQUESTA APLICACIÓ!</p>
  <p><strong>(**)</strong>  Aquesta xifra no és exacta perquè amb la dada facilitada no es pot calcular fins al cèntim l’increment de l'1,5% de la paga de juny.</p>
  <a href="http://www.sindicat.net/w/fullinf/full360.pdf"><img src="http://www.sindicat.net/w/fullinf/full360.gif"  class="hidden-lg"/></a>
</div>       
{% endblock %}
