{% extends 'main/base.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container-fluid"  id="container-index">
    <div class="row">
        <h1>Càlculs</h1>
        <ul>
            <li><a href="increments_retributius_2018">Increments retributius 2018</a></li>
            <li><a href="paga_extra_2013_30">Retorn 30% paga extra 2013</a></li>
            <li><a href="paga_extra_2013_60">Retorn 60% paga extra 2013</a></li>
        </ul>
    </div>        	
</div>
{% endblock %}
