{% extends 'main/base.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container-fluid"  id="container-index">
    <div class="row">
        <h1>Paga extra 2013</h1>
        <p>Hem desenvolupat una aplicació web per calcular l'import del 30% de l'import de l'extra del 2013 que es cobrarà 
        a la nòmina d'aquest mes d'octubre.</p>
        <p>USTEC·STEs (IAC) EXIGIM l'acceleració en el cobrament de la totalitat de les 
        dues pagues extres (2013 i 2014). El retorn enguany del 10% de la paga del 2013 el mes de març, i del retorn del 
        30% el mes d'octubre, ens sembla completament insuficient. Diverses mocions del Parlament català exigien 
        una acceleració molt més elevada. Per aquest motiu USTEC·STEs té recorregut al Tribunal d'Estrasburg el robatori 
        de les pagues extres produïdes al 2013 i 2014. </p>
        <p>Per utilitzar l'aplicació web heu de posar dues quantitats de la nòmina del març de 2019. Les nòmines les podeu 
        trobar a l'<a href="http://atri.gencat.cat/">ATRI</a></p>
        <p>Cliqueu <a href="https://sindicat.net/espacioseguro/z/nomina/consultaNomina.php">aquí</a> per veure 
        el procediment desglossat per arribar a la nòmina. (Recordeu que és la <strong>nòmina del març de 2019)</strong></p>
        
        <p>Cal tenir en compte que totes les dades són en <strong>BRUT </strong></p>
        
        <h2>Càlcul de l'import del 30% de la paga extra de desembre de 2013</h2>
        <p><strong>Heu d'anotar dues quantitats que trobareu a la nòmina del març de 2019</strong></p>
        <div  class="col-sm-2 col-12">
            <form>
              <div class="form-group" >
                <label for="005T">Casella 005T</label>
                <input type="text" class="form-control" id="005T" placeholder="Casella 005T" step=".01">
                </div>
                <div class="form-group" >
                <label for="085T">Casella 085T</label>
                <input type="text" class="form-control" id="085T" placeholder="Casella 085T" step=".01">
                <input type="hidden" id="perc" value="30" />
               </div>
            </form>
            <p><strong>Import: </strong><span id="paycheck">0</span></p>
        </div>
    </div>            
</div>       
{% endblock %}
