{% extends 'main/base.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container-fluid"  id="container-index">
    <div class="row">
        <h1>Paga extra 2013</h1>
        <p>Hem desenvolupat una aplicació web per calcular el 60% de l'import 
        de l'extra del 2013 que restava pendent i que es cobrarà a la nòmina d’aquest 
        mes de juliol de 2020. </p>
        <p>Després de 7 anys, haurem cobrat el 100% de la paga extra de 2013. Mancarà 
        el retorn de la totalitat de la paga extra del 2014, el pagament de la qual 
        es faria en dos terminis: 55% el 2021 i 45% el 2022. USTEC·STEs (IAC) n'exigim 
        l'acceleració del cobrament atenent a les diverses mocions del Parlament 
        català on s'exigia una acceleració molt més elevada. Per aquest motiu USTEC·STEs 
        té recorregut al Tribunal d'Estrasburg el robatori de les pagues extres 
        produïdes al 2013 i 2014.</p>
        <p>El calendari de retorn, acordat entre l'administració i CCOO i UGT, comporta 
        una afectació al poder adquisitiu perdut, raó per la qual considerem totalment 
        insuficient que s'estiri el termini per cobrar la paga sencera que resta 
        del 2014 (fins al 2022), al cap de 8 anys, i com que ens la tornen sense 
        interessos, la pèrdua econòmica és ben evident.</p>
        <p>Per utilitzar l'aplicació web heu de posar dues quantitats de la nòmina de 
        mes d’octubre de 2019. Les nòmines les podeu trobar a<a href="http://atri.gencat.cat/">ATRI</a></p>        
        <p>Cliqueu <a href="https://sindicat.net/espacioseguro/z/nomina/consultaNomina.php">aquí</a> per veure 
        el procediment desglossat per arribar a la nòmina. (Recordeu que és la <strong>nòmina del mes d'octubre del 2019)</strong></p>
        
        <p>Cal tenir en compte que totes les dades són <strong>en BRUT</strong></p>
        
        <h2>Càlcul de l'import del 60% de la paga extra de 2013</h2>
        <p><strong>Heu d'anotar dues quantitats que trobareu a la nòmina del mes d’octubre de 2019</strong></p>
        <div  class="col-sm-2 col-12">
            <form>
              <div class="form-group" >
                <label for="005T">Casella 005T</label>
                <input type="text" class="form-control" id="005T" placeholder="Casella 005T" step=".01">
                </div>
                <div class="form-group" >
                <label for="085T">Casella 085T</label>
                <input type="text" class="form-control" id="085T" placeholder="Casella 085T" step=".01">
                <input type="hidden" id="perc" value="60" />
               </div>
            </form>
            <p><strong>Import: </strong><span id="paycheck">0</span></p>
        </div>
    </div>            
</div>       
{% endblock %}
