{% load humanize %}
{% if nomenaments_num.items %}
<div class="table-responsive">
    <table id="nomenaments_table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                {% for st in sts %}
                    <th>{{st.nom_curt}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th>DATA</th>
                {% for st in sts %}
                    <th>{% now "d/m/Y" %}</th>
                {% endfor %}
            </tr>
        </thead>
		<tbody>
        {% for esp, st_n in nomenaments_num.items %}
            <tr>
            <td>{{esp}}</td>
            {% for st, n in st_n.items %}
                <td class="cell-hover">
                {% if n.0 %}
                    {{n.0 | intcomma}}
                    {% if n.1 %}
                        <br />
                        s: {{n.1 | intcomma}}
                    {% endif %}
                {% endif %} 
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
		</tbody>
    </table>
    </div>  
{% endif %}