{% for item in submenu %}
    {% if item.type == 'WORKGROUP' %}
	    <li><a href="http://{{item.short_name}}.sindicat.net">{{item.name}}</a></li>
    {% elif item.type == 'PAGE' %}
        {% if workgroup_name == '' %}
            <li><a href="/p/{{item.short_name}}">{{item.name}}</a></li>
        {% else %}
            <li><a href="http://sindicat.net/p/{{item.short_name}}">{{item.name}}</a></li>
        {% endif %}
    {% elif item.type == 'APP' %}
        {% if workgroup_name == '' %}
            <li><a href="/{{item.short_name}}">{{item.name}}</a></li>
        {% else %}
            <li><a href="http://sindicat.net/{{item.short_name}}">{{item.name}}</a></li>
        {% endif %}
    {% elif item.type == 'EXTERNAL' %}
        <li><a href="{{item.link}}">{{item.name}}</a></li>
	{% else %}
		<li><a href="{{item.short_name}}">{{item.name}}</a></li>
	{%endif %}
{% endfor %}