{% load static %}
{% if show_menu %}
    <ul class="nav nav-pills" id="main-menu">
        {% for item_menu, submenu in main_menu.items %}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-xs">
                    <img class="icon" src="{{item_menu.icon.url}}" />
                    <span>{{item_menu.name}}</span>
                </a>
                <a href="/m/{{item_menu.short_name}}" class="hidden-sm hidden-md hidden-lg">
                    <img class="icon" src="{{item_menu.icon.url}}" />
                </a>
                <ul class="dropdown-menu">
                    {% include 'main_menu/items_submenu.html' %}
                </ul>
            </li>
        {% endfor %}
        {% for el in external_links %}
            <li class="external-link hidden-xs"><a href="{{el.link}}">{{ el.name }} </a></li>
        {% endfor %}
    </ul>
{% else %}    
    <div id="main-menu">
        {{workgroup_name}}
    </div>
{% endif %}