{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <ul class="nav nav-pills" id="main-submenu">    
            <li class="category1">
            <a href="#">{{current_item.name}}</a>
            <ul class="nav nav-pills nav-stacked">
                {% include 'main_menu/items_submenu.html' %}
            </ul>
         </li>
        </ul>
    </div>
{% endblock %}
        