{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h2>
            {{ page.name }}
        </h2>
        <div>
            {{ page.body | safe }}
        </div>
        {% include 'main/share.html' %}
    </div>
{% endblock %}
