{% extends 'main/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="container-fluid"  id="container-index">
<div class="row">
<h1>Plantilles de personal docent dels centres i dels serveis educatius dependents del Departament d'Educació per al curs 2020-2021.</h1>

	<div style="margin-top: 2em;">

	<p>Tria al desplegable el servei territorial, municipi, tipus de centre i especialitat per tal de fer la consulta:</p>
	<form id="municipi_selection_form" action=".">
		S.T.: <select id="codiservei" name="codiservei">
		{% for servei in serv_terr %}
			{% if servei.codi_st == selected_st %}
				<option value="{{servei.codi_st}}" selected="selected">{{ servei.codi_st | getdictvalue }}</option>
			{% else %}
				<option value="{{servei.codi_st}}">{{ servei.codi_st | getdictvalue }}</option>
			{% endif %}
		{% endfor %}
		</select>
	
		Municipi: <select id="municipis" name="municipi">
		{% for municipi in municipis %}
			{% if municipi.municipi == selected_municipi %}
				<option value="{{municipi.municipi}}" selected="selected">{{municipi.municipi}}</option>
			{% else %}
				<option value="{{municipi.municipi}}">{{municipi.municipi}}</option>
			{% endif %}
		{% endfor %}
		</select>
		
		Tipus de centre: <select id="t_centre" name="t_centre">
		{% for tipus in t_centre %}
			{% if tipus.tipus_centre == selected_t_centre %}
				<option value="{{tipus.tipus_centre}}" selected="selected">{{tipus.tipus_centre}}</option>
			{% else %}
				<option value="{{tipus.tipus_centre}}">{{tipus.tipus_centre}}</option>
			{% endif %}
		{% endfor %}
		</select>
		
		Especialitat: <select id="c_desti" name="c_desti">
		{% for codi in c_destinacio %}
			{% if codi.codi_destinacio == selected_c_desti %}
				<option value="{{codi.codi_destinacio}}" selected="selected">{{codi.codi_destinacio}}</option>
			{% else %}
				<option value="{{codi.codi_destinacio}}">{{codi.codi_destinacio}}</option>
			{% endif %}
		{% endfor %}
		</select>		
		
		<div style="margin-top: 2em;">
		Per veure la informació d'un centre del municipi <select id="n_centre" name="n_centre">
		<option value="tots" selected="selected">selecciona de la llista</option>
		{% for centre in centres %}
			{% if centre.nom_centre == selected_centre %}
				<option value="{{centre.nom_centre}}" selected="selected">{{centre.nom_centre}}</option>
			{% else %}
				<option value="{{centre.nom_centre}}">{{centre.nom_centre}}</option>
			{% endif %}
		{% endfor %}
		</select>
		</div>
		
	</form>                 
	</div>	


{% if plantilla_filtered %}
	<div class="table-responsive">
		<table class="table table-bordered table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>ST</th>
					<th>Codi</th>
					<th>Tipus</th>
					<th>Nom</th>
					<th>Municipi</th>
					<th>Comp</th>
					<th>Edif</th>
					<th>Total_Ocu_Def</th>
					<th>Total_Dot</th>
					<th>C.Dest</th>
					<th>Quali</th>
					<th>DD</th>
					<th>CS</th>
					<th>PP</th>
					<th>PS</th>
					<th>NF</th>
					<th>IN</th>
				</tr>
			</thead>
			<tbody>
			{% for item in plantilla_filtered %}
				<tr>
					<td>{{ item.codi_st }}</td>
					<td>{{ item.codi_centre }}</td>
					<td>{{ item.tipus_centre }}</td>
					<td>{{ item.nom_centre }}</td>
					<td>{{ item.municipi }}</td>
					<td>{{ item.complexitat }}</td>
					<td>{{ item.especial_dificultat }}</td>
					<td>{{ item.total_ocu_definitiva }}</td>
					<td>{{ item.total_dotacio }}</td>
					<td>{{ item.codi_destinacio }}</td>
					<td>{{ item.qualificador }}</td>
					<td>{{ item.destinacio_definitiva }}</td>
					<td>{{ item.comissio_serveis }}</td>
					<td>{{ item.destinacio_provisional }}</td>
					<td>{{ item.provisional_x_supressio }}</td>
					<td>{{ item.indefinit_no_fix }}</td>
					<td>{{ item.interi }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="#">Puja</a>
	</div>
{% endif %}
	<div style="margin-top: 2em; font-size: 12px;">
	<table class="table table-bordered table-condensed table-striped table-hover">
		<thead>
			<tr>
				<th colspan="2">Llegenda</th>
			</tr>
		</thead>
		<tbody>
			<tr><td><strong>ST:</strong> En quin servei territorial o CEB es troba el centre</td><td><strong>C.Dest:</strong> Codi destinació</td></tr>
			<tr><td><strong>Codi:</strong></strong> El codi que té el centre</td><td><strong>Quali:</strong> Descripció del lloc</td></tr>
			<tr><td><strong>Tipus:</strong></strong> Tipus de centre (Escola, Institut, Institut-Escola, CEE, ZER, SE, EOI,...)</td><td><strong>DD:</strong> Destinació definitiva</td></tr>
			<tr><td><strong>Nom:</strong></strong> Nom del centre</td><td><strong>CS:</strong> Comissió de serveis</td></tr>
			<tr><td><strong>Comp:</strong> CMC  escoles, instituts i instituts escola classificats com de complexitat màxima (article 1.1.a de la Resolució)</td><td><strong>PP:</strong> Destinació provisional</td></tr>
			<tr><td><strong>Edif:</strong> Es fa constar si és un lloc que té consideració de dificultat especial (Resolució ENS/2466/2018, de 22 d'octubre)</td><td><strong>PS:</strong> Provisional per supressió</td></tr>
			<tr><td><strong>Total_Ocu_Def:</strong> El nombre de docents amb destinació definitiva en el lloc de treball (inclou les reserves de lloc)</td><td><strong>NF:</strong> Indefinit no fix</td></tr>
			<tr><td><strong>Total_Dot:</strong> El total de dotacions de plantilla aprovat</td><td><strong>IN:</strong> Interí</td></tr>
		</tbody>
	</table>
	</div>


</div>
</div>
{% endblock %}