{% load static %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <title>USTEC·STEs</title>
        <!-- Generic metadata -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="application-name" content="USTEC·STEs (IAC)">
        <meta name="description" content="USTEC·STEs (IAC) Unió Sindical dels Treballadors d'Ensenyament de Catalunya">
		<meta name="keywords" content="ustec, ustec·stes, ustec-stes, professors, mestres, ensenyament, educació, nomenaments, borsa, oposicions, interins, sindicat, iac, catalunya">
		<!-- Open Graph data -->
		<meta property="og:title" content="USTEC·STEs (IAC)" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://www.sindicat.net" />
		<meta property="og:description" content="{{ entry.summary | striptags }}" />
        <meta property="og:image" content="{% static 'images/logo_ustec_share.png' %}" />
        <!-- Tab icon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'js-pkg/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
        <!-- Slick CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'js-pkg/slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'js-pkg/slick/slick-theme.css' %}"/>
        <!-- Custom CSS -->
        <link href="{% static 'css/workgroup.css' %}" rel="stylesheet">
        <!-- GDPR CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-eu-cookie-law-popup.css' %}"/>
	<!-- cookies -->
	<script type="module" src="/static/js/js.cookie.min.js"></script>
	<script nomodule defer src="/static/js/js.cookie.min.js"></script>
        <!-- Matomo -->
        <script type="text/javascript">
        	var _paq = window._paq || [];
            _paq.push(['trackPageView']);
          	_paq.push(['enableLinkTracking']);
          	(function() {
            	var u="//matomo.sindicat.net/";
            	_paq.push(['setTrackerUrl', u+'matomo.php']);
            	_paq.push(['setSiteId', '{{workgroup_id}}']);
            	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          	})();
		</script>
    </head>
    <body class="eupopup eupopup-bottomright">
		<div class="content">
	        <nav class="navbar navbar-default" id="header">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-5 col-xs-12">
	                        <div class="navbar-header">
	                            <button id="header-menu-button" type="button" data-target="#header-menu-content" data-toggle="collapse" class="navbar-toggle">
	                                <span class="sr-only">Toggle navigation</span>
	                                <span id="header-menu-icon" class="glyphicon glyphicon-option-vertical"></span>
	                            </button>
	                            <a href="https://www.sindicat.net/" class="navbar-brand">
	                                <img id="logo" class="img-responsive" src="{% static 'images/logo_ustec.png' %}" />
	                            </a>
	                        </div>
	                    </div>
	                    <!-- Collection of nav links and other content for toggling -->
	                    <div class="col-md-7 col-xs-12" id="header-menu">
	                        <div id="header-menu-content" class="collapse navbar-collapse">
	                            <ul class="nav navbar-nav" id="header-menu-links">
	                                <li><a href="https://www.sindicat.net/p/qui-som">Qui som</a></li>
	                                <li><a href="https://www.sindicat.net/p/agenda">Agenda</a></li>
	                                <li><a href="https://www.sindicat.net/p/contacte/">Contacte</a></li>
	                                <li><a href="https://sindicat.net/espacioseguro/afilia.php">Afilia't</a></li>
	                            </ul>
	                            <div id="afilia-follow">
	                                <form id="login" class="form-inline">
	                                    <input type="text" class="form-control" id="user" tabindex="1" placeholder="Afiliat/da">
	                                    <input type="password" class="form-control" id="password" tabindex="2" placeholder="Contrasenya">
	                                    <button id="login-button" type="submit" class="btn">
	                                        <span id="login-icon" class="glyphicon glyphicon-circle-arrow-right"></span>
	                                    </button>
	                                </form>
	                                <form id="search" class="form-inline" action="https://duckduckgo.com/">
	                                    <input type="text" class="form-control" id="q" tabindex="3" placeholder="Cerca" name="q">
	                                    <button id="search-button" type="submit" class="btn">
	                                        <span id="search-icon" class="glyphicon glyphicon-search"></span>
	                                    </button>
	                                </form>
	                                <div id="follow">
	                                    <div class="social"><a href="https://www.facebook.com/groups/ustecstes/"><img src="{% static 'images/facebook.png' %}" /></a></div>
	                                    <div class="social"><a href="https://twitter.com/USTECSTEs"><img src="{% static 'images/twitter.png' %}" /></a></div>
	                                    <div class="social"><a href="https://www.youtube.com/usteccat"><img src="{% static 'images/youtube.png' %}" /></a></div>
	                                    <div class="social"><a href="http://t.me/ustec"><img src="{% static 'images/telegram.png' %}" /></a></div>
										<div class="social"><a href="https://www.instagram.com/ustecstes/"><img src="{% static 'images/instagram.png' %}" /></a></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </nav>
	        {% include 'main_menu/main_menu.html' %}
	        {% include 'main/breadcrumb.html' %}
	        {% block content %}
	        {% endblock %}	        
		</div>
        <div id="visits">Número de visites avui: {{ visits }}</div>
		{% include 'main/footer.html' %}
        <!-- jQuery -->
        <script language="javascript" type="text/javascript" src="{% static 'js-pkg/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js-pkg/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- slick -->
        <script type="text/javascript" src="{% static 'js-pkg/slick/slick.js' %}"></script>
        <!-- workgroup javscript -->
        <script src="{% static 'js/workgroup.js' %}"></script>
        <script src="{% static 'js/calculs/increments_retributius_2018.js' %}"></script>        
        <script src="{% static 'js/calculs/paga_extra_2013.js' %}"></script>
        <script src="{% static 'js/assessoraments.js' %}"></script>
        <script src="{% static 'js/especialitat_borsa.js' %}"></script>
		<script src="{% static 'js/dades_plantilles.js' %}"></script>
		<!-- GDPR javascript -->
        <script src="{% static 'js/jquery-eu-cookie-law-popup.js' %}"></script>
	<script>
/*$( document ).ready(function() {


  if(Cookies.get('cartellVaga')!=1){
  

    var in6Hours = 1/4;

    Cookies.set('cartellVaga', '1', { domain: 'sindicat.net', expires: in6Hours }    );
    $( "body" ).append( "<div id='capaVaga' style='position:absolute;width: 100%;height: 100%;opacity: 95%;margin: 0px; background: #0e0e0e;'><a style='color:white;position: absolute;left:0;right:0;text-align: center;margin: 10px auto;' onclick=\"$('#capaVaga').remove();\">[Accedir a la web]</a><img    style='-webkit-user-select: none;position: absolute;left:0;right:0;text-align: center;margin:50px auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms; '    src='https://fast.sindicat.net/vaga.jpg' height='75%'></div>" );

    setTimeout(function() { 
      $("#capaVaga").remove();
    }, 18000);

  }

});
*/
	</script>
    </body>
</html>
