{% if breadcrumb %}
<ul class="breadcrumb">
    {% for node in breadcrumb %}
        {% if forloop.last %}
            <li class="active">{{node.0}}</li>
        {% else %}
            <li><a href="{{node.1}}">{{node.0}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}