{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    	{% if not current_tag.is_hidden %}
        	<h1 class="category{{ current_tag.category.id }}">{{ current_tag.name }}</h2>
        {% endif %}
        <div>{{ current_tag.body | safe }}</div>
        {% include 'main/entries.html' %}
        {% include 'main/pagination.html' %}
    </div>
{% endblock %}
