{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% include 'main/workgroup_menu_category.html' %}
        <div id="category_body">{{ current_category.body | safe }}</div>
        {% include 'main/entries.html' %}
        {% include 'main/pagination.html' %}
    </div>
{% endblock %}