{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if entry.is_featured %}
        <h2 id="entry-summary" class="featured-entry">
        {% else %}
        <h2 id="entry-summary">
        {% endif %}
            {% include 'main/main_image.html' %}
            {% include 'main/tag_container.html' %}
            {{ entry.summary | safe }}
        </h2>
        <div id="entry-body">
            <p>{{ entry.body | safe }}</p>
        </div>
        {% include 'main/share.html' %}
    </div>
{% endblock %}
