{% load static %}

<div class="container-fluid footer">
	<div class="row">
		<div class="col-md-2 visible-md visible-lg">
			<a href="https://www.sindicat.net/espacioseguro/afilia.php"><img class="img-responsive" src="{% static 'images/footer_noia.png' %}" /></a>
		</div>
		
		<div class="col-sm-9 col-md-8">
		
			<div class="row" id="xarxes-1">
				<div class="col-md-4"></div>
				<div class="col-md-4 xarxes-footer">
					<a href="https://www.facebook.com/groups/ustecstes/"><img class="logo-xarxes" class="img-custom-responsive" src="{% static 'images/footer_facebook.png' %}" /></a>
					<a href="https://www.youtube.com/usteccat"><img class="logo-xarxes" class="img-custom-responsive" src="{% static 'images/footer_youtube.png' %}" /></a>
					<a href="http://t.me/ustec"><img class="logo-xarxes" class="img-custom-responsive" src="{% static 'images/footer_telegram.png' %}" /></a>
					<a href="https://twitter.com/USTECSTEs"><img class="logo-xarxes" class="img-custom-responsive" src="{% static 'images/footer_twitter.png' %}" /></a>
					<a href="https://www.instagram.com/ustecstes/"><img class="logo-xarxes" class="img-custom-responsive" src="{% static 'images/footer_instagram.png' %}" /></a>
				</div>
				<div class="col-md-4"></div>
			</div>
			
			<div class="row" id="addresses-license">
				<div class="col-md-12">
					<div class="row">
						<div class="col-xs-12 col-md-2 col-md-offset-1 address">
							<span class="contactes-style contactes"><a href="https://www.sindicat.net/p/contacte/#barcelona">Barcelona</a></span>
						</div>
						<div class="col-xs-12 col-md-2 address">
							<span class="contactes-style contactes"><a href="https://www.sindicat.net/p/contacte/#girona">Girona</a></span>
						</div>
						<div class="col-xs-12 col-md-2 address">
							<span class="contactes-style contactes"><a href="https://www.sindicat.net/p/contacte/#lleida">Lleida</a></span>
						</div>
						<div class="col-xs-12 col-md-2 address">
							<span class="contactes-style contactes"><a href="https://www.sindicat.net/p/contacte/#tarragona">Tarragona</a></span>
						</div>
						<div class="col-xs-12 col-md-2 address">
							<span class="contactes-style contactes"><a href="https://www.sindicat.net/p/contacte/#tortosa">Tortosa</a></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="row politics-style politics-spacer">
						<div class="col-xs-12 col-md-3">
							<a href="https://www.sindicat.net/p/politica-privadesa/">Política de privadesa</a>
						</div>
						<div class="col-xs-12 col-md-3">
							<a href="https://www.sindicat.net/p/politica-galetes/">Política de galetes</a>
						</div>
						<div class="col-xs-12 col-md-3">
							<a href="https://www.sindicat.net/p/politica-xarxes/">Política de xarxes socials</a>
						</div>
						<div class="col-xs-12 col-md-3">
							<a href="https://www.sindicat.net/p/avislegal/">Avís legal</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="col-sm-3 col-md-2">
			<div class="row">
				<div class="col-xs-12 hidden-xs">
					<a href="https://www.sindicat.net"><img id="logo-ustec" class="img-responsive" src="{% static 'images/footer_logo_ustec.png' %}" /></a>
				</div>
				<div class="col-xs-12 ccommons-spacer">
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ca"><img id="logo-cc" class="img-responsive" src="{% static 'images/footer_ccommons.jpg' %}" /></a>
				</div>
				<div class="col-xs-12">
					<div class="ccommons-text ccommons-spacer">Reconeixement NoComercial</div>
					<div class="ccommons-text">SenseObraDerivada 4.0 Internacional</div>
				</div>
			</div>
		</div>
		
	</div>
</div>