{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" id="container-index">
{% include 'main/workgroup_menu.html' %}
    <div class="row" id="content">
    {% if show_right_column %}
        {% if nomenaments_installed and nomenaments_num.items %}
            <div class="col-md-6 col-sm-12">
        {% else %}
            <div class="col-md-7 col-sm-12">
        {% endif %}
    {% else %}
        <div class="col-md-12">
    {%endif%}
    {% include 'main/entries.html' %}
    {% include 'main/pagination.html' %}
        </div>
    {% if show_right_column %}
        {% if nomenaments_installed and nomenaments_num.items %}
            <div class="col-md-6 col-sm-12" id="media">
        {% else %}
            <div class="col-md-5 col-sm-12" id="media">
        {% endif %}
        {% if nomenaments_installed %}
            {% include 'nomenaments/nomenaments_numero.html' %}
        {% endif %}
        {% include 'videos/featured_videos.html' %}
        {% include 'main/posters.html' %}
        {% include 'videos/videos.html' %}
        {% include 'main/twitter_timeline.html' %}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}