{% if entry.main_image %}
    <a href="#" id="img{{forloop.counter0}}" class="pop" data-toggle="modal"
       data-target="#modalimg{{forloop.counter0}}">
        <img class="img-responsive main_image" src="{{ entry.main_image.url }}"/>
    </a>
    <div id="modalimg{{forloop.counter0}}" class="modal">
        <!-- The Close Button -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" src="{{ entry.main_image.url }}">
    </div>
{% endif %}