{% if entries.paginator.num_pages > 1 %}
    <ul class="pagination">
        <li><a href="?page=1">|<</a></li>
        {% if entries.has_previous %}
            <li><a href="?page={{entries.previous_page_number}}"><<</a></li>
        {% else %}
            <li class="disabled"><a href="#"><<</a></li>
        {% endif %}
        {% if entries.has_next %}
            <li><a href="?page={{entries.next_page_number}}">>></a></li>
        {% else %}
            <li class="disabled"><a href="#">>></a></li>
        {% endif %}
        <li><a href="?page={{entries.paginator.num_pages}}">>|</a></li>
    </ul>
{% endif %}