<div id="posters" class="container-fluid">
{% comment %}
Recorrem el llistat de posters i si hi ha alguna imatge marcada com apaisada
fem que ocupi les dues columnes
{% endcomment %}
{% for poster in posters %}
    <div class="row">
        {% with posterimage=poster.posterimage_set.all.0 %}
        {% if posterimage.landscape_mode == 1 %}
            <div class="col-sm-12">
	                {% if posterimage.link %}
	                    <a href="{{ posterimage.link }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
	                {% else %}
	                    <a href="{{ posterimage.image.url }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
	                {% endif %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
{% endfor %}



{% for poster in posters %}
    {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
    {% endif %}
                {% with posterimage=poster.posterimage_set.all.0 %}
				{% if posterimage.landscape_mode == 0 %}
				<div class="col-sm-6">
				{% else %}
				<div class="d-none">
				{% endif %}
				{% endwith %}
            

                {# If the poster only has an image, show this image #}
                {% if poster.posterimage_set.all.count == 1 %}

                    {% with posterimage=poster.posterimage_set.all.0 %}
					{% if posterimage.landscape_mode == 0 %}
	                        {% if posterimage.link %}
	                            <a href="{{ posterimage.link }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
	                        {% else %}
	                            <a href="{{ posterimage.image.url }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
	                        {% endif %}
					{% endif %}
                    {% endwith %}
                {# If the poster has more than one image build a carousel #}
                {% else %}
                    {% with carousel_number=forloop.counter0 %}
                        <div id="carousel{{ carousel_number }}" class="poster-carousel">
                            {% for posterimage in poster.posterimage_set.all %}
                                <div>
                                    {% if posterimage.link %}
                                        <a href="{{ posterimage.link }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
                                    {% else %}
                                        <a href="{{ posterimage.image.url }}"><img src="{{ posterimage.image.url }}" alt="{{ posterimage.alt }}"></a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                {% endif %}

                {% with posterimage=poster.posterimage_set.all.0 %}
				{% if posterimage.landscape_mode == 0 %}
            	</div>
				{% endif %}
				{% endwith %}



    {% if not forloop.counter0|divisibleby:2 or forloop.last %}
        </div>
    {% endif %}
{% endfor %}
</div>

{% comment %}
This code generates HTMl like this. We assume we have one poster with only 
one image and another one with two images and no specific links:
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a href="/media/common/posters/dsc00647_9OQwVqS.jpg">
                <img src="/media/common/posters/dsc00647_9OQwVqS.jpg" alt="foto0" />
            </a>
        </div>
        <div class="col-sm-6">
            <div id="carousel1" class="poster-carousel">
                <div>
                    <a href="/media/common/posters/dsc00648.jpg">
                        <img src="/media/common/posters/dsc00648.jpg" alt="foto1" />
                    </a>
                </div>
                <div>
                    <a href="/media/common/posters/dsc00648.jpg">
                        <img src="/media/common/posters/dsc00650.jpg" alt="foto2" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}