{% load static %}

<!-- Twitter sharing -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Facebook -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Sharing box -->
<div>
    <div>
        <a href="https://twitter.com/share?text={{entry.summary | safe | striptags}}" class="twitter-share-button" data-show-count="false">Tweet</a>
    </div>
    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;src=sdkpreparse">Comparteix</a>
    </div>
	<div id="sharing">
		<!--Telegram sharing button -->
 		<a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text={{entry.summary | safe | striptags}}" class="btn btn-primary btn-xs" >
		<img src="{% static 'images/telegram.png' %}" width="25%" height="25%" />Telegram</a>
	</div>
</div>

