<div class="tag-container">
    {% for tag in entry.tags.all %}
        {% if not tag.is_hidden %}
            {% if tag.color %}
                <div class="tag" style="background-color: {{ tag.color }}">
            {% else %}
                <div class="tag category{{ tag.category.id }}">                      
            {% endif %}
                    <a class="hidden-xs" href="/t/{{ tag.short_name }}">{{ tag.name }}</a>
                </div>
        {% endif %}
    {% endfor %}
     {% if not entry.all_tags_hidden %}
        <br class="visible-xs"  />
        <span class="entry_date">{{ entry.date_time | date:"d/m/y" }}</span>
    {% endif %}
</div>