{% load static %}
<ul class="nav nav-pills" id="workgroup-menu">    
    <li class="category{{ current_category.id }}">
        <a href="/c/{{current_category.short_name}}">{{ current_category.name }}</a>
        <ul class="nav nav-pills nav-stacked">
            {% for tag in current_category.tags.all %}
                {% if tag.short_name == current_tag.short_name %}
                    <li><a class="current_tag" href="/t/{{tag.short_name}}">{{ tag.name }}</a></li>
                {% else %}
                    <li><a href="/t/{{tag.short_name}}">{{ tag.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>