{% load static %}
<ul class="nav nav-pills" id="workgroup-menu">
    {% for category, tags in workgroup_menu.items %}
        <li class="category{{ category.id }}">
            <a href="/c/{{category.short_name}}">{{ category.name }}</a>
            <ul class="tags-list nav nav-pills nav-stacked hidden-md hidden-sm hidden-xs ">
                {% for tag in tags %}
                    {% if tag.short_name == current_tag.short_name %}
                        <li><a class="current_tag" href="/t/{{tag.short_name}}">{{ tag.name }}</a></li>
                    {% else %}
                        <li><a href="/t/{{tag.short_name}}">{{ tag.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>