/** Custom bootstrap navbar */
.navbar-header {
    min-height: 125px;
}
.navbar-default,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
	background-color: #97d700;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-toggle {
	border-color: #97d700;
}

/** Header menu */
#header{
	margin-bottom: 0px;
	border-bottom: thin #035604 solid;
}
#header-menu{
    padding-top: 1.5em;
    color: white;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#header-menu-button{
	padding-right: 0px;
	margin-right: 0px;
}
#header-menu-icon{
	color: white;
	font-size: 30px;
}
#afilia-follow{
	float: right;
}

/** Login form */
#user, #password {
	width: 8.6em;
}
#login-icon{
	font-size: 25px;
}
#login-button{	
	padding: 0px;
	background-color: #97d700;
}

/** Search form */
#q {
	margin-top: 0.5em;
	width: 17.5em;
}
#search-icon{
	font-size: 25px;
}
#search-button{	
	padding: 0px;
	background-color: #97d700;
}

/** Follow buttons */
#follow{
	padding-top: 15px;
}
#follow div {
    line-height: 20px;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    float:left;
}
#follow div.social {
    padding-top: 5px;
    background-color: white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    text-align: center;
}
#follow div.social a{
    display:inline-block;
    width:100%;
    height:100%;
}
#follow div a:hover {
    background-color: transparent;
}

/** Social sharing buttons */
#sharing{
	padding-top: 5px;
	padding-bottom: 45px;
}

/** Main menu */
#main-menu{
	border-bottom: thin #035604 solid;
	padding-left: 20px;
	background-color: #015c43;
}
#main-menu>li>a,
#main-menu>li>a:focus,
#main-menu>li>a:visited{
	border-radius: 0px;
	color: white;
	border-right: thin white solid;
	background-color: #015c43;
}
#main-menu>li>a:hover{
    background-color: #015c43;
    color: #97d700;
}
.icon{
	position: relative;
	top: -2px;
	margin-right: 5px;
}
#main-menu ul a{
	color: #262626;
}
div#main-menu {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0 0 10px;
}

/** External links **/
li.external-link {
	float: right;
}
#main-menu>li.external-link>a,
#main-menu>li.external-link>a:focus,
#main-menu>li.external-link>a:visited{
	border: none;
	color: #97d700;
}
#main-menu>li.external-link>a:hover{
    color: #fff;
}

/** Container main page */
#container-index {
	margin-left: 10%;
	margin-right: 10%;	
}

/** Workgroup menu and main submenu */
#workgroup-menu li{
	margin-right: 20px;
}
#workgroup-menu li a, #main-submenu li a{
	padding-top: 3px;
	padding-bottom: 3px;
}
#workgroup-menu>li>a, #main-submenu>li>a{
	margin-top: 15px;
	font-size: 16px;
}
#workgroup-menu li ul li a,  #main-submenu li ul li a{
	color: black;
}
.category1{
    border-top: solid #ff7f80 15px;
}
.category1>a{
	color: #ff7f80;
	font-weight: bold;
}
.category2{
  border-top: solid #98e5ff 15px;
}
.category2>a{
	color: #98e5ff;
	font-weight: bold;
}
.category3{
  border-top: solid #cd97cb 15px;
}
.category3>a{
  color: #cd97cb;
  font-weight: bold;
}
.category4{
  border-top: solid #ffb27e 15px;
}
.category4>a{
  color: #ffb27e;
  font-weight: bold;
}
.category5{
  border-top: solid #969696 15px;
}
.category5>a{
  color: #969696;
  font-weight: bold;
}
.tags-list > li:last-child{
		padding-bottom: 20px;
	}

/** Content */
#content{
	margin-top: 20px;
}

/** Section titles **/
h1.category1, h1.category2, h1.category3, h1.category4, h1.category5{
	font-size: 18px;
	padding-top: 10px;
	margin-bottom: 50px;
}

/* Category list */
#category_body{
	margin-top: 50px;
}

/** Entries */
.entry{
	border-bottom: solid #ccccca thin;
	padding: 5px 5px;
	clear: both;
	overflow: auto;
}
.entry a{
	color: #333;
}
.featured-entry{
	background-color: #ffeeee;
	border-bottom-color: red;
	font-size: 16px;
}
div>.featured-entry{
	border-top: solid red thin;
}
/* Border top is only present in first featured entry */
/* Explanation: https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
div>.featured-entry~.featured-entry{
	border-top: none;
}	
h2.featured-entry{
	font-size: 1.5em;
	padding: 1em;
}
#entry-body{
	padding-top: 30px;
	clear: both;
}

/** Tags */
.tag-container{
	float: left;
	font-size: 14px;
	margin-right: 8px;
}
.tag{
	border: none;
	margin: 2px 5px 5px 0px;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
}
.tag a{
	font-weight: normal;
	color: #333;
}
.tag-container .category1{
	background-color: #ff7f80;
}
.tag-container .category2{
	background-color: #98e5ff;
}
.tag-container .category3{
    background-color: #cd97cb;
}
.tag-container .category4{
    background-color: #ffb27e; 
}
.tag-container .category5{
    background-color: #969696; 
}

/** Entry date */
.entry_date{
	font-size: 10px;
}

/** Entry main images */
.main_image {
  display: inline;
  float: right;
  width: 75px;
  margin-left: 10px;
}
/* Modal zoom image */
.modal {
    padding-top: 10em;
    text-align: center;
}
/* Add Animation - Zoom in the Modal */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* Modal close button */
.close {
    position: absolute;
    top: 20px;
    right: 50px;
    color: #f1f1f1;
    font-size: 5em;
    font-weight: bold;
    transition: 0.3s;
}

/** Media */
#media .col-sm-5{
	padding-left: 0;
}
#media .col-sm-6{
	padding-left: 0;
}
#media img{
	width: 100%;
	margin-bottom: 10px;
}

/* Poster carousels with slick */
/* Center image in carousel vertically */
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: top;
}
/* Customize dots: transform them into circles */
.slick-dots li.circle {
  border: 1px solid gray;
  height:10px;
  width:10px;
  border-radius:75px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
.slick-dots li.slick-active {
  background-color: gray;
}
/* Customize dots background */
.poster-carousel, .slick-dots {
  background-color: #f3f8e4;
}
.slick-dots {
  bottom: -10px;
}
.slick-dotted.slick-slider {
    margin-bottom: 1em;
}

/** Videos */
.video {
	margin-bottom: 1em;
}

/** Pagination */
.pagination {
    float: right;
}

/** Custom HR element defined for Ckeditor */
hr {
    clear: both;    
    background-color: #000000;
    height: 1px;
}

/** Generic tables **/
table , theader, th, td {
	padding: 5px;
}


/** Nomenaments table **/
#nomenaments_table{
	font-size: 11px;
}

#nomenaments_table>thead{
	font-size: 9px;
}

#nomenaments_table > thead > tr > th,
#nomenaments_table > tbody > tr > th,
#nomenaments_table > tfoot > tr > th,
#nomenaments_table > thead > tr > td,
#nomenaments_table > tbody > tr > td,
#nomenaments_table > tfoot > tr > td {
	text-align: center;  
	padding: 0px;
	margin: 0px;
}

.cell-hover:hover {
	background-color: lightgrey;
}

/**Visits**/
#visits{
	margin: auto;
	padding-bottom: 1em;
}

/** Misc **/
.height3em{
	height: 3em;
}

/** Medium devices, tablets and old-square screens specific styles */
@media only screen and (max-device-width: 1200px), (device-aspect-ratio: 5/4), (device-aspect-ratio: 4/3){
    .navbar-default .navbar-nav>li>a {
        padding-top: 0px;
    }
    /** Workgroup menu */
	#workgroup-menu{
        text-align: left;
    }
    
	#workgroup-menu>li>a{
		margin-top: 0px;
		padding-left: 2px;
	}
    
    #workgroup-menu>li{
		border-width: 5px;
		float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	    zoom:1; /* hasLayout ie7 trigger */
	    margin-top: 10px;
	}
	.container-fluid [class^="category"]>ul {
		display: none;
    }
}

@media only screen and (max-device-width: 1200px){
	#afilia-follow{
	    float: left;
	    padding-left: 15px;
    }
}

#legal-note{
	clear: both;
	padding-top: 1em;
	font-size: small;
}

#especialitats_convocades, #especialitats_convocades th{
	text-align: center;
}

@media only screen and (max-width: 1500px) {
	#header{
		background-image: none;
	}
}

/** Mobile specific styles */
@media only screen and (max-device-width: 765px) {
    #logo {
    	height: 45px;
    }
    .navbar-header {
        min-height: 70px;
    }   
    .navbar-default .navbar-nav>li>a {
        padding-top: 0em;
    }
    #cols-menu{	
        padding-top: 0em;
        font-size: 14px;
    }
    #header-menu{
        padding-top: 0px;
    }
    #afilia-follow{
	    float: none;
	    clear: both;
	    padding-left: 0px;
    }
    .form-control{
        display: inline;
        margin-bottom: 15px;        
    }
    #main-menu{
	    padding-left: 0px;
	    text-align:center;
    }
	#main-menu>li>a,
	#main-menu>li>a:focus,
	#main-menu>li>a:visited{
		border-right: none;
	}
	.icon{
		margin-right: 0px;
		width: 25px;
	}
	#main-menu>li>a{
	    padding: 5px 10px;
	}
	#main-menu > li {
	    float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	     zoom:1; /* hasLayout ie7 trigger */
    }
    
    #container-index {
		margin-left: 0;
		margin-right: 0;	
	}
	
	#media{
		clear: both;
    }	
	
	/** Tags */
	.tag-container{
		width: auto;
	}
	.tag{
	    float: left;
		margin-right: 5px;
		padding: 5px 10px;
		height: 30px;
		width: 30px;
		border-radius: 25px;
	}	
}


/* Flexbox stuff for a sticky footer */
html, body{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 0 auto;
}
.footer{
	flex-shrink: 0;
	background-color: #C0C0C0;
	width: 100%;
	padding-top: 10px;
}

/** Footer styles */
#xarxes-1{
	margin-top: 1em;
	text-align: center;
}
#xarxes-1, #xarxes-2{
	padding-left: 1em;
}
#addresses-license {
	margin: 25px 0;
}
.address {
	margin-bottom: 5px;
	text-align: center;
}
.politics-spacer{
	border-top: 1px solid black;
	margin-top: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.5em;
}
.politics-style{
	font-size: 12px;
	color: #000000;
	text-align: center;
}
.politics-style > div > a:link,
.politics-style > div > a:visited,
.politics-style > div > a:focus,
.politics-style > div > a:active {
	text-decoration: none;
	color: #000000;
}
.politics-style > div > a:hover{
		text-decoration: underline;
		color: #423d3d;
}
.contactes > a:link,
.contactes > a:visited,
.contactes > a:focus,
.contactes > a:active {
	text-decoration: none;
	color: #000000;
}
.contactes > a:hover{
	color: #423d3d;
}
.contactes-style{
	font-size: 16px;
	font-weight: bold;	
	color: #000000;
}
.ccommons-text{
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	color: #000000;
}
.ccommons-spacer{
	margin-top: 0.5em;
}
.img-custom-responsive{
	display: inline;
	max-width: 100%;
	height: auto;
}
.logo-xarxes{
	margin: 5px;
}
#logo-ustec{
	float: right;
}
#logo-cc{
	float: right;
}