<div class="video embed-responsive embed-responsive-16by9">
{% if video.type == 'PEERTUBE' %}
    <iframe width="100%" height="300" sandbox="allow-same-origin allow-scripts" src="https://peertube.social/videos/embed/{{video.video_id}}" frameborder="0" allowfullscreen></iframe>
{% elif video.type == 'YOUTUBE' %}
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{video.video_id}}"></iframe>
{% elif video.type == 'VIMEO'  %}
     <iframe width="100%" height="300" src="https://player.vimeo.com/video/{{video.video_id}}"></iframe>
{% else %}
     <iframe width="100%" height="300" src="{{video.url}}"></iframe>
{% endif %}
</div>