{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <h1>Consulta l'estat de la teva inscripció ({{ course_type }})</h1>
        <div class="col-md-5">            
            <form method="post">
                {% csrf_token %}
                <div class="has-error">
                    <span class="has-error help-block"> {{ form.non_field_errors|striptags }}</span>
               </div>
                {% for field in form %}
                    <div class="form-group {%if field.errors %}has-error{%endif%}">
                        {% if field.help_text %}
                            <p>{{ field.help_text | safe }}</p>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                        <span class="help-block">{{ field.errors|striptags }}</span>
                    </div>
                {% endfor %}
                <input class="btn btn-default" type="submit" value="Consulta" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
