{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <h1>Dades de la inscripció</h1>
        <p><strong>DNI:</strong> {{candidate.dni}}
        <p><strong>Nom i cognoms:</strong> {{candidate.name}} {{candidate.surname1}} {{candidate.surname2}} 
        <p><strong>Assessorament:</strong>{{candidate.selected_course}}
        <p class="lead"><strong>Estat de la inscripció: <mark>{{ candidate.get_assigned_status_display }}</mark></strong></p>
    </div>
</div>
{% endblock %}
