{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Llistat correus electrònics {{code}}</h1>
        <table class="table table-bordered">
        <tr>
        	<th>Nom</th>
        	<th>Especialitat</th>
            <th>Correu electrònic</th>
        </tr>
        {% for candidate in candidates %}
        	<tr>
        		<td>{{ candidate.surname1 }} {{ candidate.surname2 }}, {{ candidate.name }}</td>
        		<td>{{ candidate.speciality_course }}</td>
                <td>{{ candidate.email }}</td>
        	</tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
