{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Llistats ({{course_type}})</h1>
        <table class="table table-striped" width="50%">
        	<tr>
        		<th>Codi</th>
        		<th>Territori</th>
        		<th></th>
                <th></th>
        	</tr>
        {% for course in courses %}
        	<tr>
        		<td>{{ course.code }}</td>
        		<td>{{ course.territory.name }}
        		<td><a class="btn btn-info" href="{% url 'course_list_detail' course_type%}?type=attendance&course={{course.pk}}">Llistat Assitència</a></td>
                <td><a class="btn btn-info" href="{% url 'course_list_detail' course_type%}?type=email&course={{course.pk}}">Llistat Correus Electrònics</a></td>
        	</tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
