{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{code}}</h1>
        <table class="table table-bordered">
        <tr>
        	<th></th>
        	<th>Nom</th>
        	<th style="text-align: center;">Especialitat</th>
        	<th width="14%" style="text-align: center;"></th>
        	<th width="14%" style="text-align: center;"></th>
        	<th width="14%" style="text-align: center;"></th>
        	<th width="14%" style="text-align: center;"></th>
            <th width="14%" style="text-align: center;"></th>
        </tr>
        {% for candidate in candidates %}
        	<tr>
        		<td style="text-align: center; vertical-align:middle">{{forloop.counter}}</td>
        		<td style="vertical-align:middle">{{ candidate.surname1 }} {{ candidate.surname2 }}, {{ candidate.name }}</td>
        		<td style="text-align: center; vertical-align:middle">{{ candidate.speciality_course }}</td>
        		<td style="height:50px"></td>
        		<td style="height:50px"></td>
        		<td style="height:50px"></td>
        		<td style="height:50px"></td>
                <td style="height:50px"></td>
        	</tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
