{% load static %}
<h3>
	<span class="btn description_icon glyphicon glyphicon-chevron-down"
	      aria-hidden="true" 
	      data-toggle="collapse" 
	      data-target="#collapse{{forloop.counter0}}"
	      aria-expanded="false" 
	      aria-controls="collapse"
	      style="background-color: #e7e7e7">
	</span>
	{{ course.code }}
    {% if course.closed %}
        <img src="{% static 'images/assessoraments/tancat.jpg' %}">
    {% endif %}
</h3>
<p><strong>Població:</strong> {{ course.city }}</p>
<p><strong>Especialitat:</strong> {{ course.speciality }}</p>
<div class="collapse" id="collapse{{forloop.counter0}}">
	<p><strong>Lloc:</strong> {{ course.place }}</p>
    <p><strong>Adreça:</strong> {{ course.address }}</p>
    <div>
    	<strong>Sessions:</strong>
    	<div style="margin-left: 1em;">
   			{{ course.dates | safe }}
  		</div>
	</div>
	<p>
		<span style="margin-right:0.5em;">
{# 			<strong>Places totals:</strong> {{ course.vaccancies }}  #}
		</span>
		<span style="margin-right:0.5em;">
{# 	   		<strong>Places lliures:</strong> {{ course.n_free_vaccancies }} #}
	   	</span>
{# 	   	<strong>Llista d'espera:</strong> {{ course.n_waitlist }} #}
	</p>
</div>
