{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container">
    {{title | safe}}
    {{intro | safe}}
    {% if not all_courses_closed %}
        <div class="row">        
            <div class="col-md-5">
            	<h2>Inscripció</h2>
                {{full_form_intro | safe}}
                <form method="post">
        			{% csrf_token %}
        			<!-- {{ form.as_p }}-->
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
        			{% for field in form.visible_fields %}
        				<div class="form-group {%if field.errors %}has-error{%endif%}">
                            {% if field.help_text %}
                                <p>{{ field.help_text | safe }}</p>
                            {% endif %}
    	    				{{ field.label_tag }}
    						{% if field|is_radio %}
    							<div style="margin-left: 2em">
    								{% for radio in field %}
    									<div class="form-check">
    									{{ radio }}
    									</div>
    								{% endfor %}
    							</div>
    						{% else %}      
    							
    							{{ field }}
    						{% endif %}
    						<span class="help-block">{{ field.errors|striptags }}</span>
    					</div>
    				{% endfor %}
        		<input class="btn btn-default" type="submit" value="Envia" />
    			</form>
    		</div>
    		<div class="col-md-7">
    			<h2>Informació dels assessoraments oferts</h2>
    			<div class="container-fluid">
    				<div class="col-md-6">
    					{% for course in courses %}							
    						{% if forloop.counter0|divisibleby:2 %}
    							{% include 'assessoraments/course_description.html' %}
     						{% endif %}					
        				{% endfor %}
    				</div>
    				<div class="col-md-6">
        				{% for course in courses %}
    						{% if not forloop.counter0|divisibleby:2 %}					
    			            	{% include 'assessoraments/course_description.html' %}
     						{% endif %}		
        				{% endfor %}	
    				</div>			        
    		    </div>
            </div>        
        </div>
    {% endif %}
    {{footer | safe}}
</div>
{% endblock %}
