{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container">
<p>Hem detectat que no est&agrave;s afiliat/da i adscrit/a a Barcelona, i per tant, no podràs inscriure't a l'assessorament, ja que aquests són exclusivament per a persones afiliades.</p>
<p>A efectes d'aquests assessoraments una persona es considera afiliada si ja ha pagat una quota trimestral, la qual cosa implica en el cas de Barcelona haver-se afiliat abans del final de l'any 2020.</p>
<p>Si creus que es tracta d'un error, escriu un correu a oposicionsbcn@sindicat.net amb les teves identificatives.</p>
<p>Si estàs afiliat/da, però adscrit/a a un altre territori, posa't en contacte amb el territori en qu&egrave; pagues la teva quota.</p>
</div>
{% endblock %}
