{% extends 'main/base.iframe.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <h1>Les teves dades s'han enviat correctament.</h1>
        <p>{{instructions|safe}}</p>
    </div>
</div>
{% endblock %}
