{% extends 'main/base.html' %}
{% load static %}
{% load forms_tags %}
{% block content %}
<div class="container-fluid"  id="container-index">
    <div class="row">
        <h1>Especialitats obertes a la borsa </h1>
		<div style="margin: 30px auto;">
        <p><a href="https://aplicacions.ensenyament.gencat.cat/pls/apex/f?p=2013009:500">Accés a la consulta d'especialitats convocades i requisit del màster.</a></p>
        <p><a href="https://aplicacions.ensenyament.gencat.cat/pls/apex/f?p=2011914:28">Consulta les titulacions per impartir un ensenyament. Accés a la consulta per cos i especialitat.</a></p>
        <p><a href="https://aplicacions.ensenyament.gencat.cat/pls/apex/f?p=2011014:19">Consulta dels ensenyaments que es poden impartir. Accés a la consulta per titulació.</a></p>
		</div>
        <div style="margin-top: 2em;">
            <form id="date_selection_form" action=".">
                Data: <select id="dates" name="data">
                    {% for data in dates %}
                        {% if data.data|date:'Y-m-d' == selected_date|date:'Y-m-d' %}
                            <option value="{{data.data | date:'Y-m-d'}}" selected="selected">{{data.data}}</option>
                         {% else %}
                            <option value="{{data.data | date:'Y-m-d'}}">{{data.data}}</option>
                          {% endif %}
                    {% endfor %}
                 </select>
            </form>
        </div>
        <div style="margin-top: 1em;">
            {% for cos in cossos %}
                <a href="#{{cos.id_cos}}" style="margin-right :2em;">{{cos.nom}}</a>
            {% endfor %}
        </div>
        {% for cos, especialitats in especialitats_convocades.items %}
            <div style="margin-top: 1em" id="{{cos.id_cos}}">
                {{cos.nom}} ({{cos.id_cos}})
                <div class="table-responsive">
                    <table id="especialitats_convocades" class="table table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                    {% for st in sts %}
                                        <th>{{st.nom_curt}}</th>
                                    {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for esp, st_n in especialitats.items %}
                                <tr>
                                    <td>{{esp}}</td>
                                    {% for st, conv in st_n.items %}
                                        <td>
                                            {% if conv %}
                                                Sí
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#">Puja</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
